<%= simple_form_for blog_post, html: { class: "contents" } do |form| %>
  <% if blog_post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2>
        <%= pluralize(blog_post.errors.count, "error" ) %> prohibited this blog post from being saved:
      </h2>
      <ul class="list-disc ml-6">
        <% blog_post.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :title, input_html: {
    class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full focus:outline-none focus:ring-2" }, error_html:
    { class: "text-red-600 mt-1" }, wrapper_html: { class: "my-5" } %>

  <%= form.input :body, as: :rich_text_area, input_html: {
    class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full focus:outline-none focus:ring-2" },
    error_html: { class: "text-red-600 mt-1" }, wrapper_html: { class: "my-5" } %>

  <%= form.input :meta_description, as: :text, input_html: { rows: 4,
    class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full focus:outline-none focus:ring-2" },
    wrapper_html: { class: "my-5" } %>

  <%= form.input :meta_title, input_html: {
    class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full focus:outline-none focus:ring-2" },
    wrapper_html: { class: "my-5" } %>

  <%= form.input :meta_image, as: :file, input_html: {
    class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full focus:outline-none focus:ring-2" },
    wrapper_html: { class: "my-5" } %>

  <%= form.input :banner_image, as: :file, input_html: {
    class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full focus:outline-none focus:ring-2" },
    wrapper_html: { class: "my-5" } %>

  <%= form.input :tags, as: :text, input_html: { rows: 4,
    class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full focus:outline-none focus:ring-2" },
    wrapper_html: { class: "my-5" } %>

  <div class="my-5">
    <%= form.button :submit,
      class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
  </div>
<% end %>
